@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Gather My LinkedIN Data</h2>
    <p class="lead">This is app will get your profile info and information about first degree connections.</p>
    <p>
        @using (Html.BeginForm("RetrieveData", "Linkedin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Sync" class="btn btn-default" />
        }
</p>
</div>