@model ConnectedData.Web.Models.LinkedInSummaryViewModel
@{
    ViewBag.Title = "LinkedIn Data Summary";
}

<div class="jumbotron">
    <h2>Your LinkedIn Data</h2>
    <p class="lead">
        @*@String.Format("We found {0} connections across Y companies in {2} industries",Model.NumberOfConnections, 0, Model.NumberOfIndustries)*@
        Come back at TechFest to see the rest!
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <p>
            @*@Html.Partial("ConnectionsForceDirectedVisualization",@model.ForceDirectedData)*@
            Visualization Summary Here
        </p>
    </div>
</div>
