@model ConnectedData.Web.Models.LinkedInSummaryViewModel
@{
    ViewBag.Title = "LinkedIn Data Summary";
}

<div class="jumbotron">
    <h2>Your LinkedIn Data</h2>
    <p class="lead">
        Thanks you're data will be incorporated to the end of presentation demo!
    </p>
</div>
