<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DummyProfileFileXml" value="C:\src\ConnectedData.HoustonTechFest\ConnectedData.LinkedIn.Tests\Profile\DummyProfile.xml"/>
    <add key="DummyProfileFileJson" value="C:\src\ConnectedData.HoustonTechFest\ConnectedData.LinkedIn.Tests\Profile\DummyProfile.json"/>
    <add key="DummyConnectionsFileXml" value="C:\src\ConnectedData.HoustonTechFest\ConnectedData.LinkedIn.Tests\Connections\DummyConnections.xml"/>
    <add key="DummyConnectionsFileJson" value="C:\src\ConnectedData.HoustonTechFest\ConnectedData.LinkedIn.Tests\Connections\DummyConnections.json"/>
    <add key="AzureTablStorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=connecteddata;AccountKey=/J0foeGD19MfvGmZgS3nDRXY6e/nm7A09mkiE0dfaGs1UQGP2ksAljHfiqY6+Q0Dy1TqO2o0yNB20x8vEjfVfg==" />
  </appSettings>
</configuration>