<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DummyProfileFileXml" value="C:\src\ConnectedData.HoustonTechFest\ConnectedData.LinkedIn.Tests\Profile\DummyProfile.xml"/>
    <add key="DummyProfileFileJson" value="C:\src\ConnectedData.HoustonTechFest\ConnectedData.LinkedIn.Tests\Profile\DummyProfile.json"/>
  </appSettings>
</configuration>