@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Power of Connected Data</h1>
    <p class="lead">This is a simple app to help illustrate that the relationships between data is as important as the data itself.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First login...</h2>
        <p>
            You'll need to login via LinkedIN and register an account...
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Login via LinkedIn</a></p>
    </div>
    <div class="col-md-4">
        <h2>...Then Get Profile and Connections</h2>
        <p>The app will capture your profile info and information about first degree connections</p>
        <p><a class="btn btn-default" href="/LinkedIn/">Get LinkedIn Data</a></p>
    </div>
    <div class="col-md-4">
        <h2>...Finally Add Your Interests</h2>
        <p>Add items you're interested in to be used later.</p>
        <p><a class="btn btn-default" href="/Interest/">Add Interests</a></p>
    </div>
</div>